<% if (locals.loginModalOpen) { %> 
    <script type="text/javascript">
        $(window).on('load', function() {
            $('#loginModal').modal('show');
        });
    </script>
<% } %> 

<form class="" action="/user/loginUser" method="POST">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" style="color: black;"
        aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalTitle">
                        Connexion
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <%- include('../messages/errorMessage') %>
                    <%- include('../messages/successMessage') %>
                    <%- include('../../user/forms/_forms_login') %>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-context">Se connecter</button>
                </div>
            </div>
        </div>
    </div>
</form>