<nav class="mb-1" style="margin-top: -15px;">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-context active" href="/">Accueil</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link text-context" href="/shop/">Boutique</a>
    </li>
    
    
    <img src="/img/logo_v2.png" width="100px" alt="">
    <% if (locals.isConnected) {%> 
      
      <li class="nav-item">
        <a class="nav-link text-context" href="/cart/">
          Panier
          <% if (locals.itemCount) { %> 
            <span class="badge badge-context" style="color: whitesmoke;"><%= itemCount %></span>
              <% } %> 
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-context" href="/user/profil">Profil</a>
          </li>

        <% } else { %> 

          <li class="nav-item">
            <a class="nav-link text-context" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
              Se connecter
            </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-context" href="#" data-bs-toggle="modal" data-bs-target="#registerModal">
              S'inscrire
            </a>
          </li>

        <% } %> 

      </ul>
</nav>