<nav class="mb-5 mt-2">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-context active" href="/">Accueil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-context" href="/shop/">Boutique</a>
        </li>

        <img src="/img/logo.png" width="120px" alt="">

        <% if (locals.isConnected) {%> 
          <li class="nav-item">
            <a class="nav-link text-context" href="/user/profil">Profil</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-context" href="/cart/">Panier</a>
          </li>
        <% } else {%> 
          <li class="nav-item">
            <a class="nav-link text-context" href="/user/login">Se connecter</a>
          </li>
  
          <li>
            <a class="nav-link text-context" href="/user/register">s'inscrire</a>
          </li>
        <% } %> 

      </ul>
</nav>