<script>
    function checkMatch() {
        target = document.getElementById('floatingRegisterPassword')
        targetMatch = document.getElementById('floatingRegisterConfirmPassword')
        btn = document.getElementById('registerConfirmBtn')

        console.log(target.value, targetMatch.value)

        if (target.value === targetMatch.value) {
            btn.disabled = false
        } else {
            btn.disabled = true
        }
    }
</script>

<div class="row justify-content-center">
    <!-- NAME -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="text" name="registerName" class="form-control" 
        id="floatingRegisterName"  placeholder="nom" required>
        <label class="label-context" for="floatingRegisterName">Nom</label>
        <br> 
    </div>

    <!-- LASTNAME -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="text" name="registerLastName" class="form-control"
        id="floatingRegisterLastname" placeholder="nom de famille" required>
        <label class="label-context" for="floatingRegisterLastname">Nom de famille</label>
    </div>

    <!-- USERNAME -->
    <div class="form-floating col-4 p-1 m-3">
        <input type="text" name="registerUsername" class="form-control"
        id="floatingRegisterUsername" placeholder="Pseudo" required>
        <label class="label-context" for="floatingRegisterUsername">Pseudo</label>
    </div>


    <!-- MAIL -->
    <div class="form-floating col-6 p-1 m-3">
        <input type="text" name="registerMail" class="form-control" 
        id="floatingRegisterMail" placeholder="Mail" required>
        <label class="label-context" for="floatingRegisterMail">Mail</label>
        <br> 
    </div>
    
    <!-- ADDRESS -->
    <div class="form-floating col-11 p-1 m-3">
        <input type="text" name="registerAddress" class="form-control"
        id="floatingRegisterAddress" placeholder="Address">
        <label class="label-context" for="floatingRegisterAddress">Adresse</label>
    </div>
    
    <!-- TEL -->
    <div class="form-floating col-7 p-1 m-3">
        <input type="number" name="registerTel" class="form-control"
        id="floatingRegisterTel" placeholder="Tel">
        <label class="label-context" for="floatingRegisterTel">Téléphone</label>
    </div>

    <!-- SEKS -->
    <div class="form-floating col-3 p-1 m-3">
        <select class="form-select" name="registerSex" id="floatingRegisterSex">
            <option value="sex_m">Homme</option>
            <option value="sex_f">Femme</option>
            <option value="sex_other">Autre</option>
        </select>
        <label class="label-context" for="floatingRegisterSex">Sexe</label>
    </div>

    <!-- PASSWORD -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="password" name="registerPassword" class="form-control" 
        id="floatingRegisterPassword" placeholder="Password" required
        onkeyup="checkMatch()">
        <label class="label-context" for="floatingRegisterPassword">Mot de passe</label>
        <br> 
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="password" name="registerConfirmPassword" class="form-control" 
        id="floatingRegisterConfirmPassword" placeholder="Confirm Password" required
        onkeyup="checkMatch()">
        <label class="label-context" for="floatingRegisterConfirmPassword">Confirmation</label>
        <br> 
    </div>
</div>