<div class="row justify-content-center">
    <div class="form-floating col-5 p-1 m-3">
        <input type="email" class="form-control" required
        id="floatingLoginName" placeholder="john@doe.com" name="loginMail">

        <label class="label-context" for="floatingInput">Mail</label>
    </div>
    
    <div class="form-floating col-5 p-1 m-3">
        <input type="password" class="form-control" required
        id="floatingPassword" placeholder="Password" name="loginPassword">

        <label class="label-context" for="floatingPassword">Mot de passe</label>
    </div>
</div>

    
  