<div class="row justify-content-center">

    <!-- NAME -->
    <div class="form-floating col-4 p-1 m-3">
        <input type="text" name="registerName" class="form-control" id="floatingRegisterName" 
        placeholder="nom" required>
        <label class="label-context" for="floatingRegisterName">Nom</label>
        <br> 
    </div>
    
    <!-- MAIL -->
    <div class="form-floating col-6 p-1 m-3">
        <input type="text" name="registerMail" class="form-control" 
        id="floatingRegisterMail" placeholder="Mail" required>
        <label class="label-context" for="floatingRegisterMail">Mail</label>
        <br> 
    </div>

    <!-- PASSWORD -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="text" name="registerPassword" class="form-control" 
        id="floatingRegisterPassword" placeholder="Password" required>
        <label class="label-context" for="floatingRegisterPassword">Mot de passe</label>
        <br> 
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="text" name="registerConfirmPassword" class="form-control" 
        id="floatingRegisterConfirmPassword" placeholder="Confirm Password" required>
        <label class="label-context" for="floatingRegisterConfirmPassword">Confirmation</label>
        <br> 
    </div>
</div>