<div class="row justify-content-center">

    <!-- NAME -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="text" name="registerName" class="form-control" 
        id="floatingRegisterName"  placeholder="nom" required>
        <label class="label-context" for="floatingRegisterName">Nom</label>
        <br> 
    </div>
    
    <!-- MAIL -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="text" name="registerMail" class="form-control" 
        id="floatingRegisterMail" placeholder="Mail" required>
        <label class="label-context" for="floatingRegisterMail">Mail</label>
        <br> 
    </div>

    <!-- TEL -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="text" name="registerTel" class="form-control"
        id="floatingRegisterTel" placeholder="Tel" required>
        <label class="label-context" for="floatingRegisterTel">Téléphone</label>
    </div>

    <!-- ADDRESS -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="text" name="registerAddress" class="form-control"
        id="floatingRegisterAddress" placeholder="Address" required>
        <label class="label-context" for="floatingRegisterAddress">Adresse</label>
    </div>

    <!-- GROUP -->
    <div class="form-floating col-5 p-1 m-3">
        <select class="form-select" name="registerGroup" id="floatingRegisterGroup">
            <option value="grp1">/</option>
            <option value="grp1">Groupe 1</option>
            <option value="grp2">Groupe 2</option>
            <option value="grp3">Groupe 3</option>
        </select>
        <label class="label-context" for="floatingRegisterGroup">Groupe</label>
    </div>

    <!-- GROUP -->
    <div class="form-floating col-5 p-1 m-3">
        <select class="form-select" name="registerSex" id="floatingRegisterSex">
            <option value="sex_m">Homme</option>
            <option value="sex_f">Femme</option>
            <option value="sex_other">Autre</option>
        </select>
        <label class="label-context" for="floatingRegisterSex">Sexe</label>
    </div>

    <!-- PASSWORD -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="password" name="registerPassword" class="form-control" 
        id="floatingRegisterPassword" placeholder="Password" required>
        <label class="label-context" for="floatingRegisterPassword">Mot de passe</label>
        <br> 
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-floating col-5 p-1 m-3">
        <input type="password" name="registerConfirmPassword" class="form-control" 
        id="floatingRegisterConfirmPassword" placeholder="Confirm Password" required>
        <label class="label-context" for="floatingRegisterConfirmPassword">Confirmation</label>
        <br> 
    </div>
</div>