<h1 class="title-context"> Se connecter </h1>

<form class="container" action="/user/loginUser" method="POST">

    <%- include('forms/_forms_login') %>

    <div class="justify-content-center">
        <a class="btn btn-outline-secondary" href="/user/register">S'inscrire</a>
        <button class="btn btn-context" type="submit">Se connecter</button>
    </div>
</form>