<div class="jumbotron container">
    <h1 class="display-4">
        Bienvenue, <%= userInfos.name %>
    </h1>
    <p class="lead">
        Blah blah blah blah <%= userInfos._id %>
    </p>
    
    <hr class="my-4">

    <div class="row">
        <div class="col-4" id="profileTabListHolder">
            <div class="list-group" id="profile-list" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-action" data-bs-toggle="list"
                href="#list-action-tab" role="tab" aria-controls="action">Action</a>

                <a class="list-group-item list-group-item-action" id="list-settings" data-bs-toggle="list"
                href="#list-settings-tab" role="tab" aria-controls="settings">Settings</a>

                <a class="list-group-item list-group-item-action bg-danger" style="color: white; text-align: center;" id="list-disconnect" href="/user/logout">Déconnexion</a>
            </div>
        </div>

        <div class="col-8" id="profileTabHolder">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-action-tab" role="tabpanel" aria-labelledby="list-action">
                    content action
                </div>

                <div class="tab-pane fade show" id="list-settings-tab" role="tabpanel" aria-labelledby="list-settings">
                    content settings
                </div>
            </div>
        </div>
    </div>
</div>