<h1 class="title-context"> S'inscrire </h1>

<form class="container" action="/user/registerUser" method="POST">

    <%- include('forms/_forms_register') %>

    <a class="btn btn-outline-secondary" href="/user/login">Se connecter</a>
    <button class="btn btn-context" type="submit">S'inscrire</button>
</form>