
<% if (locals.isUser) { %> 
    <div class="col-12 row">
<% } else { %> 
    <div class="col-12 w-75 row">
<% } %> 
    <% if (productList.length > 0) {%> 
    <% productList.forEach(product => { %> 
        <a href="/shop/product/<%= product._id %>" class="col-4 productHolder mb-4">
            <img class="productImg" src="/img/<%= product.pathImg %>" alt="product_1">
            <div class="productShadow">
                <p class="productTitle"> <%= product.name %> </p>
                <p class="productPrice btn-context"><%= product.price %>€</p>
            </div>
        </a>
    <% }) %>
    <% } else { %> 
        aucun produit
    <% } %> 
</div>