<div class="col-12 row">
    <% productList.forEach(product => { %> 
        <a href="/shop/product/<%= product._id %>" class="col-4 productHolder mb-4">
            <img class="productImg" src="/img/<%= product.pathImg %>" alt="product_1">
            <div class="productShadow">
                <p class="productTitle"> <%= product.name %> </p>
                <p class="productPrice btn-context"><%= product.price %>€</p>
            </div>
        </a>
    <% }) %>
</div>