<h1 class="title-context mb-3">Réglages du compte</h1>

<div class="container mt-2">

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Thème sombre</label>
      </div>

    <form action="/deleteAccount" method="POST">
        <input type="text" hidden value="<%= userInfos._id %>">
        <button class="btn btn-danger w-100 m-3" type="submit">Supprimer le compte</button>
    </form>
</div>