html {
    margin: 0;
    overflow-x: hidden;
    font-family: bahnschrift;
}

body{
    background: #121212;
    color: white;
}

input[type=number] {
    -moz-appearance: textfield;
}

.btn-context {
    background: linear-gradient(90deg, #80dfff, #33ccff) !important;
}

.title-context{
    text-align: center;
}

.label-context{
    color: white;
}

.tooltip-context{
    color: gray;
    font-size: 0.8em;
}


.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
    background: linear-gradient(90deg, #30c4fc, #66e0ff) !important;
    border: 0px;
}

.carousel-inner{
    overflow: visible;
}

.carousel-item-context, .carousel-item-context img{
    height: 250px !important;
}

/* ---------------- NAV ------------------- */
.text-context{
    color: gray;
    transition: 0.2s;
    font-size: 1.5em;
}

.text-context:hover{
    color: white !important;

}