<form action="shop/newProduct" method="POST" class="container">
    <div class="row" style="min-height: 200px;">

        <div class="col-4">
            <div class="cart">

                    <figure>
                        <div class="form-group">
                            <input class="form-control darkInput" type="file" 
                            id="formFile" required>
                        </div>
                    </figure>

                    <!--<div id="thumbnails">
                        <img src="image.png" alt="Product image 1" />
                        <img src="image.png" alt="Product image 2" />
                    </div>-->

            </div>
        </div>

        <div class="col-5">
            <hgroup>
                <div class="form-floating">
                    <input class="form-control darkInput" type="text" id="newProductName" 
                    name="newProductName" required>
                    <label for="addProductname" class="darkLabel">Nom du produit</label>
                </div>
            </hgroup>
            <br>
            <section id="info">
                <div class="form-floating">
                    <textarea class="form-control darkInput" style="min-height: 150px;" 
                    type="text" id="newProductDesc" name="newProductDesc" required></textarea>
                    <label for="newProductDesc" class="darkLabel">Description du produit</label>
                </div>

                <div class="social">
                    <!-- Boutons de partage-->
                </div>

                <article class="comment">
                    <h6 >Créateur: <%= userInfos.name %></h6>
                    <p>Mise en ligne: <%= date %></p>
                </article>

            </section>
        </div>

        <div class="col-3">
                <div class="col m-2 input-group">                  
                    <input type="text" class="form-control darkInput" 
                    placeholder="Prix" aria-label="Prix">
                    <span class="input-group-text darkInput">x</span>
                    <span class="input-group-text darkInput">Qté</span>
                </div>
                <button class="col-4 m-2 btn btn-context" type="submit">
                    Mettre en ligne
                </button>
        </div>
    </div>

    <div class="row">
        <section id="details">
            <h2>Plus d'info</h2>
            <p>Information détaillée du produit ici</p>
        </section>

        <section id="characteristics">
            <h2>Caractéristiques</h2>

            <table id="productTable" class="table">
                <tr>
                    <th scope="col"> Largeur </th>
                    <th scope="col"> Hauteur </th>
                    <th scope="col"> Longeur </th>
                    <th scope="col"> Poids </th>
                    <th scope="col"> Matière </th>
                </tr>

                <tr>
                    <td><input type="text" class="form-control w-25 darkInput" placeholder="(cm)" required></td>
                    <td><input type="text" class="form-control w-25 darkInput" placeholder="(cm)" required></td>
                    <td><input type="text" class="form-control w-25 darkInput" placeholder="(cm)" required></td>
                    <td><input type="number" class="form-control w-25 darkInput" placeholder="(g)" required></td>
                    <td>
                        <select class="darkSelect" name="" id=""  required>
                            <option value="pla">PLA</option>
                            <option value="abs">ABS</option>
                            <option value="pva">PVA / HIPS</option>
                        </select>
                    </td>
                </tr>

            </table>
        </section>
    </div>
</form>