<div class="row justify-content-center">

    <!-- --------------------- NAME ------------------------------  -->
    <div class="form-floating col-12 p-1 mt-3">
        <input type="text" class="form-control" min="0"
        id="floatingProductName" placeholder="0" name="productFilterName">

        <label class="label-context" for="floatingProductName">Nom</label>
    </div>

    <!-- --------------------- PRICE ------------------------------  -->
    <div class="form-floating col-6 p-1 mt-3">
        <input type="number" class="form-control" min="0"
        id="floatingMinPrice" placeholder="0" name="productFilterMinPrice">

        <label class="label-context" for="floatingMinPrice">Prix min</label>
    </div>

    <div class="form-floating col-6 p-1 mt-3">
        <input type="number" class="form-control" min="0"
        id="floatingMaxPrice" placeholder="0" name="productFilterMaxPrice">

        <label class="label-context" for="floatingMaxPrice">Prix max</label>
    </div>

    <!-- --------------------- DIMENSIONS ------------------------------  -->
    <div class="form-floating col-4 p-1 mt-3">
        <input type="number" class="form-control" min="0"
        id="floatingHeight" placeholder="0" name="productFilterHeight">

        <label class="label-context" for="floatingHeight">Hauteur</label>
    </div>

    <div class="form-floating col-4 p-1 mt-3">
        <input type="number" class="form-control" min="0"
        id="floatingWidth" placeholder="0" name="floatingFilterWidth">

        <label class="label-context" for="floatingWidth">Largeur</label>
    </div>

    <div class="form-floating col-4 p-1 mt-3">
        <input type="number" class="form-control" min="0"
        id="floatingLenght" placeholder="0" name="floatingFilterLenght">

        <label class="label-context" for="floatingLenght">Longueur</label>
    </div>
    
    <div class="container m-3">
        <div class="col-12 form-check form-switch">
            <input type="checkbox" name="productIsStockFilter"
            id="productIsStock" class="form-check-input" >
            <label class="form-check-label" 
            for="productIsStock">En stock uniquement</label>
        </div>
    </div>
</div>